.bk-home-list
  margin: 0
  padding: 0
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(200px, auto))
  grid-gap: 10px

  &__item 
    text-align: center
    font-size: $text-md 
    font-weight: bold
    overflow: hidden
    background: #fff
    border: 1px solid $gray
    border-radius: 0.25rem
  
  &__img 
    width: 100%
    height: 200px
    object-fit: contain
