.bk-material
  &__colors
    display: flex
    grid-gap: 5px
  &__item
    display: flex
    width: 25px
    height: 24px
    box-shadow: 0 0 2px
    overflow: hidden
    cursor: pointer
  &__img
    width: 100%
    object-fit: cover
