.bk-orders
  &__title
    font-size: $text-lg
    font-weight: bold
    &--date
      font-size: $text-base
  &__text
    margin-bottom: 0
    padding: 0 2px
    font-size: $text-base
    color: rgba($dark, .65)
  &__value
    vertical-align: top
    font-size: $text-sm
    font-weight: bold
    color: $blue
  &__control
    margin: 5px 0
    display: flex
    align-items: center
    user-select: none
  &__bill
    display: flex
    align-items: center
    overflow: hidden
    &-icon
      width: 25px
      height: 25px
      object-fit: cover
    &-link
      font-size: $text-base
  &__line 
    margin: 5px 0
    width: 70%
  &__info
    &-item
      margin-bottom: 0
      font-size: $text-sm
    &-subtitle
      margin-right: 2px
      font-weight: bold

@media (max-width: $width-sm)
  .bk-orders
    &__title
      display: grid
