.bk-info
  display: flex
  flex-direction: column

  &__img 
    height: 70px
    object-fit: cover

  &__title 
    margin-bottom: 0
    font-weight: bold
  &__size 
    margin: 2px 0
    font-size: $text-base 