.bk-products
  padding: 0
  margin: 0
  display: flex
  flex-wrap: wrap
  grid-gap: 10px
  &--gap-5 
    grid-gap: 5px
  &__item
    margin-bottom: 0
    font-size: $text-sm
    &--color 
      display: flex
      width: 25px
      height: 25px
      box-shadow: 0 0 2px 
      overflow: hidden
      cursor: pointer
    &--sizes 
      color: rgba($dark, .65)
  &__img 
    height: 64px
    object-fit: cover
    &--full 
      width: 100%
    &--type 
      width: 100px
      height: 15px
      box-shadow: 0 0 2px
      cursor: pointer
  &__subtitle 
    margin-right: 2px
    font-weight: bold	
  &__text 
    margin-bottom: 0 
    padding: 0 2px
    font-size: $text-base 
    color: rgba($dark, .65)