.bk-gallery 
  padding: 0
  margin-top: 30px
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(150px, auto))
  grid-gap: 5px
  &__item 
    position: relative
    display: flex
    height: 150px
    box-shadow: 0 0 4px
    cursor: pointer
    overflow: hidden
    &:hover 
      .bk-gallery__crud 
        transform: translateY(0)
  &__img 
      width: 100%
      object-fit: cover
  &__info  
    padding: 0 5px
    position: absolute
    top: 10px
    left: 10px
    text-transform: uppercase
    font-size: $text-sm
    font-weight: bold
    background: rgba($light, .55)
    border-radius: 2px
    box-shadow: 0 0 2px
  &__crud 
    position: absolute
    bottom: 7px
    right: 7px
    display: grid
    grid-template-columns: 25px 25px
    grid-gap: 5px
    background: transparent
    transform: translateY(150%)
    transition: all 0.3s 