.navbar 
  padding: 15px 10px
  margin-bottom: 40px
  background: #fff
  border: none
  border-radius: 0
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)

  &-btn,
  &-toggler
    padding: 0 5px
    width: 40px
    height: 40px
    background: #f5f5f5
    border: none
    box-shadow: none
    outline: none !important
    cursor: pointer

  span 
    margin: 0 auto
    display: block
    width: 80%
    height: 2px
    background: #555
    transition: $transition
    transition-delay: .1s

  span:nth-child(1)
    transform: rotate(45deg) translate(2px, 2px)

  span:nth-child(2)
    opacity: 0

  span:nth-child(3)
    transform: rotate(-45deg) translate(1px, -1px)

  .active span
    margin: 5px auto
    transform: none
    opacity: 1

@media (max-width: $breakpoint-md)
  .navbar 
    span:nth-child(1),
    span:nth-child(2),
    span:nth-child(3)
      transform: none
      opacity: 1
      margin: 5px auto
    
    .active span 
      margin: 0 auto
    
    .active span:nth-child(1)
      transform: rotate(45deg) translate(2px, 2px)
    
    .active span:nth-child(2)
      opacity: 0
    
    .active span:nth-child(3)
      transform: rotate(-45deg) translate(1px, -1px)
    